/* You can add global styles to this file, and also import other style files */
//lara-light-blue
body {
  margin: 0;
  padding: 0;
  background-color: #E2E8F0;
}

html {
  font-family: 'Source Sans Pro', 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 24px;
}

