<div class="card py-3">
  <p-breadcrumb [model]="items" [style]="{ 'padding': '5px' }"></p-breadcrumb>
</div>

<div class="flex flex-column gap-2">
  <span class="p-input-icon-left">
    <i class="pi pi-search"></i>
    <input class="p-inputtext-lg h-2rem pl-5"
           placeholder="Поиск" type="text"
           pInputText [(ngModel)]="searchField"
           [style]="{ 'margin-right': '5px' }"
    />
    <button pButton pStyleClass="p-button-lg" class="px-3"
            [label]="'Поиск'"
            (click)="searchClick()"
            [style]="{ 'padding': '5px' }">
    </button>
    <button pButton pStyleClass="absolute p-button-lg" class="px-3"
            [label]="'Добавить курс'" icon="pi pi-plus"
            (click)="openAddCourseForm()"
            [style]="{ 'padding': '5px' , 'float' : 'right'}">
    </button>
  </span>
  <div *ngIf="filterCourses.length > 0; else noData" class="flex flex-column gap-4 w-12">
    <app-course-item *ngFor="let course of filterCourses | orderBy: 'creationDate':'desc'
    trackBy: trackByCourseId" [course]="course"

                     (editCourseEvent)="selectCourse($event)"
                     (deleteCourseEvent)="deleteCourse($event)">
    </app-course-item>
  </div>
  <ng-template #noData>
    <div class="flex flex-column align-items-center justify-content-center" style="height: 100%;">
      <img src="././assets/noDataIcon.png" alt="" class="m-4">
      <h2>Ничего не найдено</h2>
      <p-button label="Сбросить фильтры" styleClass="p-button-lg" (click)="clearFilter()"></p-button>
    </div>
  </ng-template>
</div>
<div class="w-12 flex justify-content-center" *ngIf="filterCourses.length > 0">
  <button pButton class="loadMore p-button-lg flex align-items-center justify-content-center"
          (click)="loadMore()">  Загрузка курсов
  </button>
</div>



<p-dialog [(visible)]="isAddingCourse" [modal]="true" [closable]="false" >
  <app-course-add
    [courseToEdit]="courseToEdit"
    (formClosed)="closeAddCourseForm()">
  </app-course-add>
</p-dialog>

<p-confirmDialog></p-confirmDialog>
